<h3>Tasks</h3>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <td>#</td>
            <td>Title</td>
            <td>Department</td>
            <td>Status</td>
            <td>Observer</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="#">Network problem</a></td>
            <td><a href="#">Internal development</a></td>
            <td><span class="badge badge-primary">In process</span></td>
            <td><a href="#">John Doe</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="#">Network problem</a></td>
            <td><a href="#">Internal development</a></td>
            <td><span class="badge badge-primary">In process</span></td>
            <td><a href="#">John Doe</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="#">Network problem</a></td>
            <td><a href="#">Internal development</a></td>
            <td><span class="badge badge-primary">In process</span></td>
            <td><a href="#">John Doe</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="#">Network problem</a></td>
            <td><a href="#">Internal development</a></td>
            <td><span class="badge badge-primary">In process</span></td>
            <td><a href="#">John Doe</a></td>
        </tr>
    </tbody>
</table>