<div class="row m-1" *ngIf="task; else preloader">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <div class="float-left">
                    <h1 class="mb-0"><b>#{{task.id}}</b> {{task.title}}</h1>
                </div>
                <div class="float-right">
                    <button class="btn btn-primary">Edit</button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Accountable: </strong>
                        <a routerLink="/user/{{task.user.id}}">#{{task.user.id}} {{task.user.name}}</a>
                    </div>
                    <div class="col-md-4">
                        <strong>Project: </strong>
                        <a routerLink="/project/{{task.project.id}}">#{{task.project.id}} {{task.project.name}}</a>
                    </div>
                    <div class="col-md-4">
                        <strong>Report: </strong>
                        <a routerLink="/report/{{task.report.id}}">#{{task.report.id}} {{task.report.title}}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>{{task.description}}</div>
                    </div>
                </div>
            </div>
            <div class="card-footer py-4">

            </div>
        </div>
    </div>
</div>
<ng-template #preloader>
    <app-preloader></app-preloader>
</ng-template>