<form id="new-project" (ngSubmit)="onSubmit(formData)" #newProjectForm="ngForm" [formGroup]="projectForm">
    <div class="row m-1">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h1 class="mb-0">Create new project</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="title">Name</label>
                                        <input type="text" class="form-control" id="name" formControlName="name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="title">Repository URL</label>
                                        <input type="text" class="form-control" id="repository_url" formControlName="repository">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea id="description" cols="30" rows="10" class="form-control" formControlName="description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="description">RSA</label>
                                        <textarea id="rsa" cols="30" rows="10" class="form-control" formControlName="rsa"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
                <div class="card-footer py-4">
                    <div class="float-right">
                        <button class="btn btn-default">Cancel</button>
                        <button class="btn btn-success" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
